<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <style></style>
    <title>shooting</title>
  </head>
  <header>
    <div class ="header_form">もどる</div>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
  </header>
  <body>
    <div class ="main" href="https://saruwakakun.com/">
      <canvas id="can"></canvas>
      <script src="main.js"></script>
    </div>
  </body>
</html>
