%head
  -# %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  -# %meta{:charset => "utf-8"}/
  %link{:href => "style.css"}/
  %link{:href => "reset.css",}/
  :css

  %title shooting
%body
  %header
    .header_form もどる
    -# %link{:href => "https://fonts.googleapis.com/earlyaccess/kokoro.css", :rel => "stylesheet"}/
  .main{:href => "https://saruwakakun.com/"}
    %canvas#can{:height => "320", :width => "240"}
    %script{:href => "main.js"}
    
-# %canvas#screen{:height => "320", :width => "240"}
-# %script{:src => "js/shooting.js"}
