%link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
%h1
  Inbeda, the amazing javascript Space Invaders | Interval :
  %span#inter
  ms
#levelDiv
  %h2 Level :
  %span#level
#scoreDiv
  %h2 Score :
  %span#score
#alivesDiv
  %h2 Aliens :
  %span#alives
%canvas#aliensCanvas.mesCanvas{:height => "500", :width => "530"} Votre navigateur ne supporte pas les Canvas :(
%script{:src => "main.js"}
