@mixin icon-style{
  margin: 0px 20px;
  color: white;
}
@mixin icon-link{
  margin: 0px 7px;
  font-size: 20px;
  display: inline-block;
}
@mixin user-btn{
  text-decoration: none;
  padding: 0 15px;
}

.header{
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 30px;
  padding-left: 10px;
  border-bottom: solid 0.5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
  background-color: black;
  color: white;
  &-home{
    display: inline-block;
    @include icon-style;
  }
  &-pen{
    @include icon-style
  }
  &-bars{
    @include icon-style
  }
  &-twitter{
    color: #00aced;
    @include icon-link;
  }
  &-youtube{
    color:red;
    @include icon-link;
  }
  &-game{
    color: green;
    @include icon-link;
  }
  &-right-user{
    font-size: 20px;
    padding: 10px 0;
    .post-name{
      @include user-btn;
    }
    .post-logout{
      color: red;
      @include user-btn;
    }
    .post-new{
      color: lightblue;
      @include user-btn;
    }
    .post-login{
      color: orange;
      @include user-btn;
    }
  }
}
.message-top{
  height: 100%;
  width: 100%;
  // padding-top: 75px;
  .message-infomation{
    margin-left: 40px;
    .message-form{
      height: 50px;
      width: 100%;
      // margin-right: 10px;
      // margin-left: 10px;
      font-size: 40px;
      font-family: Comic Sans MS;
      text-align: center;
      .message-header{
        display: flex;
        margin: 20px 0;
        // justify-content: start;
        font-family: Comic Sans MS;
        height: 40px;
        width: 300px;
        color: #5d627b;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
        overflow: scroll;
        .message-created{
          font-size: 15px;
          color: silver;
          font-family: Comic Sans MS;
          padding: 5px;
          white-space: nowrap;
        }
        .message-title{
          font-size: 20px;
          padding-left: 30px;
          font-family: Comic Sans MS;
          margin-bottom: 40px;
        }
      }
      .message-header-right{
        height: 7px;
        width: 200px;
        // background-color: red;
      }
      .message-text{
        height: 400px;
        width: 650px;
        font-size: 25px;
        font-family: Comic Sans MS;
        // margin: 20px 0;
        // margin-bottom: 40px;
        overflow: scroll;
        transition: all 0.8s;
        transition-duration: 0.5s;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
        border-radius: 10px 10px;
        border-left: solid 10px gray;
        border-right: solid 10px gray;
        color: #232323;
        background-color: #DDDDDD;
      }
      .message-like{
        width: 650px;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-left: 15px;
        .like-check{
          height: 30px;
          width: 75px;
          font-size: 15px;
          color: white;
          text-decoration: none;
          border-radius: 10px 10px;
          padding-top: 3px;
          background-color: #00BFFF;
        }
        .like-exclamation{
          height: 30px;
          width: 75px;
          font-size: 15px;
          color: white;
          text-decoration: none;
          border-radius: 10px 10px;
          padding-top: 3px;
          background-color: #FF4F50;
        }
      }
      .message-edit{
        font-size: 15px;
        color: red;
        text-decoration: none;
        padding-top: 370px;
        padding-right: 10px;
        // padding-bottom: 50px;
      }
      .message-name{
        // font-size: 10px;
      }
    .message-side{
      height: 175px;
      width: 175px;
      position: fixed;
      margin-left: 70%;
      padding-top: 20px;
      font-size: 15px;
      border-radius: 80px 80px 80px 80px;
      background-color: lightblue;
      color: black;
      }
    }
  }
}