.header{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  position: fixed;
  background-color: ivory;
  border-bottom: solid 0.5px;
  opacity: 0.7;

  &-home{
    font-weight: bold;
    color: black;
    padding-right: 50px;
  }
  &-pen{
    color: black;
    padding-right: 50px;
  }
  &-btn{
    color: black;
    padding-right: 50px;
  }
}

.message-top{
  height: 100vw;
  width: 100vw;

  .message-main{
    display: flex;
    // justify-content: space-between;
    // background-color: red;
  }
  .message-infomation{
    height: 100vw;
    width: 100%;
    padding-top: 75px;
    padding-left: 75px;
    // display: flex;

    
    .message-form{
      // height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      // background-color: lightcyan;
      font-size: 20px;
      text-align: center;
      margin-right: 10px;
      margin: 0 auto;
      position: fixed;
      margin-top: 20px;

    }
    .message-header{
      display: flex;
      font-family: Comic Sans MS;
      height: 40px;
      width: 200px;
      color: #5d627b;
      // background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
      margin-bottom: 20px;
      margin-top: 10px;
    }
    .message-created{
      font-size: 15px;
      color: silver;
      font-family: Comic Sans MS;
      padding-left: 10px;
    }
    .message-title{
      font-size: 15px;
      // font-family: Comic Sans MS;
      padding-left: 50px;
      // font-size: 20px;
      // font-family: Comic Sans MS;
      // margin-bottom: 40px;
      margin: 0 auto;
      
    }
    .message-text{
      // margin: 0 auto;
      font-size: 20px;
      width: 50%;
      height: 200px;
      // font-family: Comic Sans MS;
      // padding-left: 50px;
      // font-size: 20px;
      // font-family: Comic Sans MS;
      // margin: 30px 0;
      margin-bottom: 40px;
      padding: 10px 0.5em 1em;
      // margin: 1em 0;
      color: #232323;
      background: #EEEEEE;
      border-left: solid 10px gray;
      border-right: solid 10px gray;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
      border-radius: 10px 10px;
    }
  }
  .message-side{
    height: 100vw;
    width: 500px;
    background-color: lightblue;
    padding: 100px 20px;
    // margin: 0 auto;
    // margin-top: 100px;
    // position: fixed;
    margin-right: 30px;

  }
}
  .link{
    height: 150px;
    width: 75px;
    position: fixed;
    // background-color: lightgoldenrodyellow;
    border-radius: 20px 20px;
    // position: absolute;
    margin-top: 300px;
    margin-left: 10px;
    
    &-title{
      // padding-top: 3px;
    }
    &__twitter__btn{
      color: #00aced;
      font-size: 40px;
      padding-left: 5px;
    }
    &__youtube__btn{
      color:red;
      font-size: 40px;
      margin: 0 auto;
      padding-left: 3px;

    }
    &__game__btn{
      color: green;
      font-size: 40px;

    }
  }
