


.header{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  position: fixed;
  background-color: ivory;
  &-home{
    font-weight: bold;
    color: black;
    padding-right: 50px;
  }
  &-pen{
    color: black;
    padding-right: 50px;
  }
  &-btn{
    color: black;
    padding-right: 50px;
  }
}

.message-top{
  height: 100vw;
  width: 100vw;
  .message-main{
    display: flex;
  }
  .message-infomation{
    height: 100vw;
    width: 100%;
    background-color: lightcyan;
    padding-top: 100px;
    padding-left: 30px;
    .message-form{
      display: flex;
      justify-content: space-between;
    }
    .message-header{
      display: flex;
    }
    .message-created{
      font-size: 15px;
      color: silver;
    }
    .message-title{
      padding-left: 10px;
      font-size: 20px;
      // font-family: arial, sans-serif;

    }
  }
  .message-side{
    height: 100vw;
    width: 300px;
    // background-color: purple;
    padding: 100px 20px;
    // margin: 0 auto;
    .message-title{
      padding-top: 16px;
    }

  }
}
  .side{
    height: 100%;
    width: 100px;
    position: fixed;
    margin-top: calc(100% - 50%);
    background-color: lightgoldenrodyellow;
    border-radius: 20px 20px; 
    &-title{
      padding-top: 3px;
    }
    &__twitter__btn{
      color: #00aced;
    }
    &__youtube__btn{
      color:red;
    }
    &__game__btn{
      color: green;
    }
  }
