.notification {
  .notice {
    background-color: lightblue;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .alert {
    background-color: orange;
    color: black;
    text-align: center;
    font-weight: bold
  }
}