.notification {
  padding-top: 50px;
  .notice {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .alert {
    background-color: orange;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: auto;
  }
}